
<div class="container">
<p>Game id: <%=session[:game_id] %>

<h1>Guess the Note!</h1>

<div id="wrap">
  <img id="staff_image" src="/images/staff.jpg" alt="staff" />
  <img id="whole_note" src="/images/whole_note.png" alt="whole note" />
</div>


<div id="letter_choices">
  <div class="letter"><a class="letter_link_class" href="">C</a> </div>
  <div class="letter"> <a class="letter_link_class" href="">D</a> </div>
  <div class="letter"> <a class="letter_link_class" href="">E</a> </div>
  <div class="letter"> <a class="letter_link_class" href="">F</a> </div>
  <div class="letter"> <a class="letter_link_class" href="">G</a> </div>
  <div class="letter"> <a class="letter_link_class" href="">A</a> </div>
  <div class="letter"> <a class="letter_link_class" href="">B</a> </div>
</div>

<!-- <div id="staff_image_background">
</div> -->
<p>
  <div id="answer_display">
  </div>
</p>

<p>
  <div id="stats">
  </div>
</p>

</div>
